body {
	text-align: center;
	width: auto;
  	height: 750px;
  	background-color: whitesmoke;
}


h1 {
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 3em;
	color: white;
	text-shadow: 0px 0px 30px darkolivegreen;
	margin: 50px;
}


.col-xs-3, .col-xs-9, .appointment {
	background-color: ivory;
	display: inline-block;
	border: 2px solid black;
	/*border-right: 2px solid black;
	border-bottom: 2px solid black;*/
	overflow: hidden;
	text-align: left;
	height: 50px;
}


textarea {
    width: 100%;
}